#img {
	width: 100%;
	height: 100%;
}

#idea {
	padding-top: 50px;
}

#idea h2 {
	padding-bottom: 50px;
	text-align: center;
	font-weight: bold;
}

#myTabContent .col-md-6 h3 {
	padding-left: 30px;
	background: #2de8e0;
	color: white;
	border-radius: 5px;
}

#myTabContent .col-md-6 p {
	font-size: 16px;
	line-height: 33px;
}

#myTabContent .col-md-6 img {
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
}